body {
    background-color: black;
    background-image:url(./image/background.jpg);
    background-position:center center;
  }
  

  
  #header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    background-color: #f3f5f4;
}
  
  #content-left {
    display: block;
    width: 600px;
    height: 300px;
    background-color: #F1F5F9;
  }
  
  #content-right {
    display: block;
  width: 600px;
  height: 300px;
  
  background-color: #F1F5F9;
  }
  
  
  #logo-container {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .logo {
    width: 80px;
  }
  
 
  .green {
    color: #01f791;
  }
  
  .row {
    width: 50%;   
    height: 25%;  
    margin: 10%;   
    padding: 10%;
  }
  
  
  
  #count {
    margin-left: 10px;
  }
  
  #msg-container {
    height: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 50px;

    background-color: #ffffff;
    
  }
  
  
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .titre {
    margin-left: 1vw;
    font-size: 20px;
    font-family: "Verdana", "Tahoma", sans-serif;
  }